
@{
    ViewBag.Title = "About - Movie Rental App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container"></div>
<div class="jumbotron">
    <h1>About</h1>
    <p>Created by Liron Perel &copy;</p>
</div>